
.header{
	text-align: center;
	font-size: 30px;
    font-style: italic;
	text-shadow:1px 1px 1px #f00;
}
.left {
	
	float: left;
	background-color: #CCFFFF
}
.right{
	
	float: right;
	background-color: #FFCCCC
}
.box {
	font-size: 20px;
	width: 50vw;
	height: 50vw;
	text-align: center;

}
img {
	width:50%;
	height: auto;
	margin: auto;
	padding-top: 100px;
}
.touhyoubtn{
	padding-left: 42.2vw;
}
.btnleft{
	display: inline-block;
	height: 200px;
	width: 100px;
	border-radius: 100px 0 0 100px;
	background-color: red;
	text-align:center;
}
.btnright{
	display: inline-block;
	height: 200px;
	width: 100px;
	border-radius: 0 100px 100px 0;
	background-color: blue;

}
.middle{
	margin: auto;
}
.circle{

}
.pokariseibunn{
	margin: 15px;
}
.akueriseibunn{
	margin: 15px;
}