body {
	overflow: hidden;
}
.header{
	text-align: center;
	font-size: 30px;
    font-style: italic;
	text-shadow:1px 1px 1px #f00;
}
.top{
	position: relative;
}


.left {
	float: left;
		
}
.right{
	position: absolute;
    bottom: 0;
	float: right;
}

.box {
	font-size: 20px;
	width: 50vw;
	height: 50vw;
	text-align: center;
	position: relative;
	/*background-image: url("../images/backimage.jpg");*/
}


.round {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	background-image: url("../images/haikeipic.jpg");
	background-size: cover;
}

.drink {
	z-index: 4;
	display: block;
}

.cup {
	z-index: 3;
}

.hair {
	z-index: 2;
}

.cake {
	z-index: 1;
}


.west-sentence{
	position: absolute;
	display: none;
}

.east-sentence{
	position: absolute;
	display: none;
}

.west-name{
	display: inline-block;
    -webkit-writing-mode: vertical-rl;
    position: absolute;
    top: 90px;
    left: 30px;
    color: white;
    font-size: 50px;
    font-weight:bold;
    
    
}

.east-name{
	-webkit-writing-mode: vertical-rl;
	position: absolute;
	top: 90px;
	right: 30px;
	color: white;
    font-size: 50px;
    font-weight: bold;
    
}

.west-image,
.east-image {
	position: relative;
}

.west-sentence, 
.east-sentence {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}



.west-logo,
.east-logo {
	width: 50%;
	height: auto;
	margin: auto;
	padding-top: 100px;
}

.touhyoubtn{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 100;
}

.btnleft{
	display: inline-block;
	height: 200px;
	width: 100px;
	border-radius: 100px 0 0 100px;
	background-color: red;
	text-align:center;
	line-height: 200px;
	color: white;
}
.btnright{
	display: inline-block;
	height: 200px;
	width: 100px;
	border-radius: 0 100px 100px 0;
	background-color: blue;
	line-height: 200px;
	text-align: center;
	color: white;

}
.middle{
	margin: auto;
}
.circle{

}
