body{
	overflow: hidden;
}

.top-page{
	background-color:black;
	height: 100%;
	position: relative;
}

.top-sentence{
	height: 100%;
}

.top-sentence h1{
	font-size: 60px;
	font-weight: 200;
	color:white;
	width: 100%;
	padding: 400px 0;
	margin: 0 auto;
	letter-spacing: 14px;
	text-align: center;
	-webkit-animation: OpeningSequence 5.2s linear forwards;
	animation: OpeningSequence 5.2s linear forwards;
}


@keyframes OpeningSequence {
	0% {
		text-shadow: 0 0 50px #fff;
		letter-spacing: 60px;
		opacity: 0.2;
		transform: rotateY(-90deg);
	}
	50% {
		text-shadow: 0 0 1px #fff;
		letter-spacing: 14px;
		opacity: 0.8;
		transform: rotateY(0deg);
	}
	85% {
		text-shadow: 0 0 1px #fff;
		opacity: 0.8;
		transform: rotateY(0deg) translateZ(100px);
	}
	100% {
		text-shadow: 0 0 10px #fff;
		opacity: 0;
		transform: translateZ(130px);
		pointer-events: none;
	}
}

.page1{
	width:100%;
	height: 50%;
}

.page2{
	width:100%;
	height: 50%;
}

.top-btn{
	height: 120px;
	outline: none;
	width: 500px;
	font-size: 40px;
	text-align: center;
	display: block;
	margin:450px auto;
	text-decoration: none;
	position: relative;
	z-index: 2;
	background-color: #333;
	border: 2px solid #333;
	color: #fff;
	line-height: 120px;
}

.top-btn::before,
.top-btn::after{
	position: absolute;
	z-index: -1;
	display: block;
	content: " ";
	top: 0;
	width: 50%;
	height: 100%;
	background-color: #333;
}

.top-btn::before {
	right: 0;
}
.top-btn::after {
	left: 0;
}

.top-btn,
.top-btn::before,
.top-btn::after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}


.top-btn:hover {
	background-color: #fff;
	border-color: #59b1eb;
	color: #59b1eb;
}

.top-btn:hover::before{
	width: 0;
	background-color: #59b1eb;
}

.top-btn:hover::after{
	width: 0;
	background-color: #59b1eb;
}


.btn{
	position: absolute;
	top:70vh;
	left:39%;
	background-color: black;
	border:none;
	display: none;
}

.btn img{
	width: 100%;
}













