
header{
	 
}

.js-scrollFadein {
	opacity: 0;
}

.top{
	background-image: url("../images/top/fujinraijin.jpg");
}

/*.top{
	opacity: 0.0;
}*/

#top-title{
	text-align: center;
	padding: 400px 0px
}

#top-sentence{
    text-align: center;
    
}
.btn{
	width: 100vw;
	height: 50px;
}
#top-btn{
	width: 170px;
	margin:0px 45vw;
	padding: 10px 30px;
	background-color:#248;
	font-size: 40px
	border-style:none;


	 
}